# This file contains a list of Python packages required to run the code.
# You can install all the packages listed here by running the command 'pip install -r requirements.txt'
# in your terminal or command prompt.

selenium==4.1.0
pandas==1.3.4
